schema/acoustic_dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Acoustic Reference Book — XML Acoustic Dataset schema (Platform).

  Structural stand-in for the real (proprietary) contract. It deliberately mirrors the real
  schema's *idiom* (not its names): a no-namespace, XSD 1.1 document in the "salami-slice" style
  an XMLSpy-authored schema produces — every element is declared globally, complex types are built
  with xs:all, and a type's fields are xs:element ref="..." references to those global elements.
  Documentation lives on the global element declarations (and on some ref sites). There is no type
  inheritance. Repetition uses maxOccurs on refs inside xs:all (legal only under XSD 1.1).

  A document records one platform's reference data in three parts:
    1. Characteristics  — draft, length, weight, year introduced.
    2. Radiated noise   — per frequency band, the noise radiated all round the platform, sampled
                          at directional bearing sectors.
    3. Sensor fit       — one active sonar and the passive sonars, each with identity and figures.

  Term/element definitions live here as xs:annotation/xs:documentation and ride through to the
  generated model docstrings (FR-013). "How it's computed" lives in code (the acoustics seams).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           elementFormDefault="qualified"
           vc:minVersion="1.1">

  <xs:annotation>
    <xs:documentation>
      Platform schema. A document describes one platform: its physical characteristics, its
      directional radiated-noise signature across frequency bands, and the sonar sensors it
      carries. The named value types below carry XSD facets (ranges) and one enumeration, and the
      radiated-noise structure carries enforced cardinalities, so the validation gate has something
      meaningful to enforce.
    </xs:documentation>
  </xs:annotation>

  <!-- ===== Named value types: constrained scalars ===== -->

  <xs:simpleType name="Decibels">
    <xs:annotation>
      <xs:documentation>A level expressed in decibels (dB), bounded to a sane sonar range.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-200"/>
      <xs:maxInclusive value="300"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Metres">
    <xs:annotation>
      <xs:documentation>A non-negative distance in metres.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Hertz">
    <xs:annotation>
      <xs:documentation>A non-negative frequency in hertz (Hz).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Tonnes">
    <xs:annotation>
      <xs:documentation>A non-negative mass/displacement in tonnes (1000 kg).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Seconds">
    <xs:annotation>
      <xs:documentation>A non-negative duration in seconds.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Degrees">
    <xs:annotation>
      <xs:documentation>An angle in degrees, in the closed interval [0, 360] (e.g. a beamwidth).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="360"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Bearing">
    <xs:annotation>
      <xs:documentation>A compass bearing in degrees, in the half-open interval [0, 360): 0 is dead
      ahead, increasing clockwise.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxExclusive value="360"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Year">
    <xs:annotation>
      <xs:documentation>A Gregorian calendar year, constrained to a sane modern range [1900, 2100].</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1900"/>
      <xs:maxInclusive value="2100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SignatureQuality">
    <xs:annotation>
      <xs:documentation>How a radiated-noise signature was obtained: measured at sea, modelled, or
      estimated.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="measured"/>
      <xs:enumeration value="modelled"/>
      <xs:enumeration value="estimated"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===== Leaf elements (global, scalar) ===== -->

  <xs:element name="SchemaVersion" type="xs:string">
    <xs:annotation><xs:documentation>Version of the schema this document targets.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="PlatformName" type="xs:string">
    <xs:annotation><xs:documentation>Human-readable name of the platform.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="GeneratedUtc" type="xs:dateTime">
    <xs:annotation><xs:documentation>UTC timestamp identifying when the document was produced.</xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="Draft" type="Metres">
    <xs:annotation><xs:documentation>Draft (depth of the lowest point below the waterline), in metres.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="Length" type="Metres">
    <xs:annotation><xs:documentation>Overall length of the platform, in metres.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="Weight" type="Tonnes">
    <xs:annotation><xs:documentation>Displacement (weight) of the platform, in tonnes.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="YearIntroduced" type="Year">
    <xs:annotation><xs:documentation>Calendar year the platform class entered service.</xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="BandIndex" type="xs:positiveInteger">
    <xs:annotation><xs:documentation>1-based ordinal of the band within the signature.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="CentreFrequency" type="Hertz">
    <xs:annotation><xs:documentation>Centre frequency of the band, in hertz.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="Quality" type="SignatureQuality">
    <xs:annotation><xs:documentation>How this signature was obtained.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="SectorBearing" type="Bearing">
    <xs:annotation><xs:documentation>Centre bearing of the sector, in degrees [0, 360).</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="SectorLevel" type="Decibels">
    <xs:annotation><xs:documentation>Radiated noise level in this sector, in decibels.</xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="ActiveName" type="xs:string">
    <xs:annotation><xs:documentation>Model name of the active sonar.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="ActiveManufacturer" type="xs:string">
    <xs:annotation><xs:documentation>Manufacturer of the active sonar.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="ActiveOperatingFrequency" type="Hertz">
    <xs:annotation><xs:documentation>Nominal operating (centre) frequency of the active sonar, in hertz.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="SourceLevel" type="Decibels">
    <xs:annotation><xs:documentation>Transmit source level, in decibels.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="Beamwidth" type="Degrees">
    <xs:annotation><xs:documentation>Transmit/receive beamwidth, in degrees.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="PulseLength" type="Seconds">
    <xs:annotation><xs:documentation>Transmit pulse length, in seconds.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="MaxRange" type="Metres">
    <xs:annotation><xs:documentation>Maximum echo detection range, in metres.</xs:documentation></xs:annotation>
  </xs:element>

  <xs:element name="PassiveName" type="xs:string">
    <xs:annotation><xs:documentation>Model name of the passive sonar.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="PassiveManufacturer" type="xs:string">
    <xs:annotation><xs:documentation>Manufacturer of the passive sonar.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="PassiveOperatingFrequency" type="Hertz">
    <xs:annotation><xs:documentation>Nominal operating (centre) frequency of the passive sonar, in hertz.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="ArrayGain" type="Decibels">
    <xs:annotation><xs:documentation>Array gain of the receiving array, in decibels.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="DetectionThreshold" type="Decibels">
    <xs:annotation><xs:documentation>Signal-to-noise ratio required for detection, in decibels.</xs:documentation></xs:annotation>
  </xs:element>
  <xs:element name="BearingAccuracy" type="Degrees">
    <xs:annotation><xs:documentation>1-sigma bearing accuracy of the sonar, in degrees.</xs:documentation></xs:annotation>
  </xs:element>

  <!-- ===== Complex entities (global elements; inline xs:all of refs) ===== -->

  <xs:element name="Characteristics">
    <xs:annotation><xs:documentation>The physical characteristics of the platform.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="Draft"/>
        <xs:element ref="Length"/>
        <xs:element ref="Weight"/>
        <xs:element ref="YearIntroduced"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- Sector is typed by a named complexType, to exercise the @type path as the real schema does. -->
  <xs:complexType name="SectorType">
    <xs:annotation><xs:documentation>The radiated noise level in one directional bearing sector of a band.</xs:documentation></xs:annotation>
    <xs:all>
      <xs:element ref="SectorBearing"/>
      <xs:element ref="SectorLevel"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="Sector" type="SectorType"/>

  <xs:element name="Directional">
    <xs:annotation><xs:documentation>The all-round radiated noise for one band: the directional sectors in ascending bearing order.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="Sector" maxOccurs="unbounded">
          <xs:annotation><xs:documentation>One directional bearing sector.</xs:documentation></xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="Band">
    <xs:annotation><xs:documentation>The directional radiated noise for one frequency band.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="BandIndex"/>
        <xs:element ref="CentreFrequency"/>
        <xs:element ref="Directional">
          <xs:annotation><xs:documentation>The directional noise sectors for this band.</xs:documentation></xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RadiatedNoise">
    <xs:annotation><xs:documentation>The platform's radiated-noise signature: one or more frequency bands in ascending index order.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="Quality" minOccurs="0">
          <xs:annotation><xs:documentation>Optional provenance of the signature.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="Band" maxOccurs="unbounded">
          <xs:annotation><xs:documentation>One frequency band of the radiated-noise signature.</xs:documentation></xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActiveSonar">
    <xs:annotation><xs:documentation>An active sonar: it transmits, so it carries a source level, beam/pulse figures, and a derived maximum (echo) detection range.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="ActiveName"/>
        <xs:element ref="ActiveManufacturer"/>
        <xs:element ref="ActiveOperatingFrequency"/>
        <xs:element ref="SourceLevel"/>
        <xs:element ref="Beamwidth"/>
        <xs:element ref="PulseLength"/>
        <xs:element ref="MaxRange"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="PassiveSonar">
    <xs:annotation><xs:documentation>A passive sonar: it only listens, so it carries array gain, a detection threshold and a bearing accuracy rather than a transmit source level.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="PassiveName"/>
        <xs:element ref="PassiveManufacturer"/>
        <xs:element ref="PassiveOperatingFrequency"/>
        <xs:element ref="ArrayGain"/>
        <xs:element ref="DetectionThreshold"/>
        <xs:element ref="BearingAccuracy"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="Sensors">
    <xs:annotation><xs:documentation>The sonar fit carried by the platform: one active sonar and one or more passive sonars.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="ActiveSonar">
          <xs:annotation><xs:documentation>The platform's single active sonar.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="PassiveSonar" maxOccurs="unbounded">
          <xs:annotation><xs:documentation>The platform's passive sonars.</xs:documentation></xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ===== Root: one platform ===== -->

  <xs:element name="Platform">
    <xs:annotation><xs:documentation>Root element: titled, timestamped reference data for one platform in three parts — physical characteristics, directional radiated noise, and the sonar fit.</xs:documentation></xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="SchemaVersion"/>
        <xs:element ref="PlatformName"/>
        <xs:element ref="GeneratedUtc"/>
        <xs:element ref="Characteristics">
          <xs:annotation><xs:documentation>The platform's physical characteristics.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="RadiatedNoise">
          <xs:annotation><xs:documentation>The platform's directional radiated-noise signature.</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="Sensors">
          <xs:annotation><xs:documentation>The platform's sonar fit.</xs:documentation></xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
